.section {
  padding: 1rem 0;
  color: #1a409a;
  border-left: 1px solid #d7d7d7;
  margin-left: 12px;
  padding-left: 25px;
  position: relative;
  padding-top: 0;
}

.sectionAlt {
  > p {
    padding-bottom: 1rem;
  }
}
